/*********
  Font
*********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


$baseFont: 'Open Sans', sans-serif;
$bold: 600;
$regular: 400;

$baseSize: 0.9em;

/*********
  Colors
*********/

$baseColor: #252525;
$white: #f2f2f2;
$lightbeige: #FDFAF7;
$softbeige: #F1DFC7;
$softgrey: #E0E0D7;
$darkgrey: #333;
